.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header .square{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: rgb(0 80 255);
    margin-right: 10px;
}
.header-left .name-author a{
    font-size: 25px;
    color: rgb(0,0,0);
    text-decoration: none;
    font-weight: bold;
}
.header .slash{
    font-weight: 300;
    padding: 0 3px;
}
.slash svg{
    vertical-align: middle;
}
.header-left .position a{
    font-size: 17px;
    text-decoration: none;
    letter-spacing: 1px;
    color: rgb(0,0,0);
    font-weight: 300;
}
.header .header-container{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(248 249 250);
}
.menu-right span{
    display: inline-block;
    padding: 0 8px;
    font-size: 16px;
    font-weight: 300;
    
}
.menu-right span a{
    color: black;
}
.menu-right .active{
    color: rgb(0, 80, 255);
}
.header .sidebar{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    background-color: rgb(244, 236, 230);
    display: none;
}
.sidebar span a{
    display: inline-block;
    padding: 15px 10px;
    font-size: 21px;
    color: rgb(0, 80, 255);
    font-weight: 700;
}
.icon-menu svg{
    cursor: pointer;
    display: none;
}
.sidebar .icon-close{
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    padding: 5px 18px;
}
.sidebar .menu-sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 119px;
}
@media(max-width: 500px){
    .header .header-container{
        padding: 20px;
        
        background-color: white;
    }
    .icon-menu svg{
        display: inline-block;  

    }
    .header-right .menu-right{
        display: none;
    }
    .header .slash{
        display: none;
    }
    .header-left .name-author a{
       font-size: 21px;
    }
    .header-left .position a{
        display: block;
        font-size: 15px;
    }
    .header .sidebar{
        display: block;
        width: 100%;
    }
}