*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
.wrap-page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main-page{
    padding-top: 148px;
    flex: 1;
}
.page{
    background-color: antiquewhite;
    min-height: 100vh;
}